{% extends 'base.html.twig' %}

{% block body %}
    <a class="nav-link" href="{{ path('admin.faq.index') }}"><i class="fas fa-chevron-circle-left"></i></a>
    <div class="container mt-4">
        <h1 class="display-4 text-center mt-5">Ajouter un nouveau Produit</h1>
        <hr class="my-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button class="btn btn-success" style="width: 100%"><i class="far fa-check-circle"></i></button>
        {{ form_end(form) }}
    </div>
{% endblock %}