{% extends 'base.html.twig' %}
{% block body %}

    <hr class="mt-5">
    <div class="crud-card-container">
        <h1 class="display-4 text-center mt-5">Gestion des Utilisateurs</h1>
        {% for message in app.flashes('success') %}
            <hr class="my-5">
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <hr class="my-5">
        <div class="text-right">
            <a href="#" class="btn btn-warning" style="vertical-align: center">Télécharger un CSV <i class="fas fa-download"></i></a>
        </div>
        {% for user in users %}
            <div class="crud-card">
                <div class="crud-title user">{{ user.id }}</div>
                <div class="crud-content"><p>{{ user.email }}</p></div>
                <div class="crud-status user"></div>
                <div class="crud-action user">
                    <a href="{{ path('admin.users.show', {id: user.id}) }}" class="crud-button crud-show"><i class="fas fa-eye"></i></a>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}