{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-4">FabManagerRenew</h1>
        <hr class="my-5">
        <p class="my-5 lead text-justify">
            Bienvenue sur la page du FabLab du CESI ST. Vous pourrez, en fonction de votre statut, réserver des machines (comme des imprimantes 3D) sur des créneaux horaires définis, mais également réserver
            des outils pour les emporter dans votre salle de cours. De plus, vous pouvez commander au FabLab Manager des produits fabriqués par lui-même, ils seront disponibles dans une quantité limitée
            pour chaque utilisateur pour une période donnée.
        </p>
    </div>
</div>
    <div class="container text-center">
        <h2 class="display-4">Technologies</h2>
        <hr class="my-5">
        <p class="my-5 lead text-justify">
            FabManager devait être initialement développé en utilisant Ruby-On-Rails et Angular.js, toutefois, il a finalement été développé en utilisant Symfony, ainsi différents outils ont été utilisés
            tels que PhpStorm, Wamp et HeidiSQL, et JMerise.
        </p>
    </div>
    <div class="jumbotron">
        <div class="container text-center">
            <h2 class="display-4">Contact</h2>
            <hr class="my-5">
            <p class="my-5 lead text-justify">
                Voici l'emplacement du futur formulaire de contact
            </p>
        </div>
    </div>
{% endblock %}