{% extends 'base.html.twig' %}
{% block body %}
    <div class="grid-container">
        <h1 class="display-4 text-center mt-5">FAQ</h1>
        <hr class="my-5">
        <div class="grid">
         {% include 'faq/_faq.html.twig' %}
        </div>
    </div>
{% endblock %}
