div.page-content{
    transition: margin-left 0.6s, opacity 0.6s, transform 0.6s, filter 0.6s;
}

.page-content{
    margin-top: 6rem;
    opacity: 1;
}

.reduce{
    margin-top: 6rem;
    margin-left: 50px;
    opacity: 1;

}
.bloom{
    opacity: 0.5;
    filter: blur(4px);
}

