.user-container{
 width: 100%;
}

.user-infos{
    margin-left: 1%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.user-activities{
    width: 68%;
    display: inline-block;
}

.user-activities-products{
    width: 100%;
}

.user-activities-machines{
    width: 100%;
}

.user-activities-tools{
    width: 100%;
}

{ box-sizing: border-box;}

.card-container{
    margin: 0 20% 0 20%;
}



.card-show-user{
    margin: 15px;
    overflow: hidden;
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);

    border-radius: 5px;
    transition: box-shadow 0.3s, height 0.3s;
}

.card-show-user:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

.coral-line{
    margin: 0 25% 20px 25%;
    border-bottom: 1px solid coral;
}

.card-body-show-user{
    position: relative;
    padding: 20px;
    transition: height 0.3s;
}

.user-skills{
    display: block;
    width: 100%;
    padding: 10px;
}

.user-skills .user-skill{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #529E99;
    color: white;
    font-weight: bold;
}


.card-title-show-user{
    padding: 0 0 10px 0;
    font-size: 25px;
    color: #529E99;
    text-align: center;
    text-transform: uppercase;
}


.card-subtitle-show-user{
    color: #529E99;
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
}

@media screen and (max-width: 1300px) {
    .card-title-show-user.info{
        padding-top: 50px;
    }

}
@media screen and (max-width: 900px) {
    .card-show-user{
    }
    .user-infos{
        margin-left: 0;
        width: 100%;
        display: block
    }

    .user-activities{
        width: 100%;
        display: block;
    }

    .order.crud-content.show{
        width: 15%;
    }

    .order.crud-status.show{
        width: 40%;
    }

    .crud-action.show{
        width: 15%;
    }
}

