{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h1 class="display-4">Produits</h1>
    {% for product in products %}
        test
    {% endfor %}
</div>
{% endblock %}