
.grid-container{
    padding: 0 20% 0 20%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

@media screen and (max-width: 2400px) {
    .grid-container{
        padding: 0 15% 0 15%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
    }
}
@media screen and (max-width: 2050px) {
    .grid-container{
        padding: 0 10% 0 10%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
    }
}
@media screen and (max-width: 1900px) {
    .grid-container{
        padding: 0 10% 0 10%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
}
@media screen and (max-width: 1500px) {
    .grid-container{
        padding: 0 20% 0 20%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}
@media screen and (max-width: 1350px) {
    .grid-container{
        padding: 0 15% 0 15%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}
@media screen and (max-width: 1150px) {
    .grid-container{
        padding: 0 10% 0 10%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}
@media screen and (max-width: 1000px) {
    .grid-container{
        padding: 0 25% 0 25%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 800px) {
    .grid-container{
        padding: 0 20% 0 20%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .grid-container{
        padding: 0 13% 0 13%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .grid-container{
        padding: 0 10% 0 10%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}